# Ignore build artifacts
build/
*.exe
*.o
*.obj
*.log
*.pdb

# Ignore SFML libraries (if included locally)
SFML/
*.dll
*.lib
*.a

Release/
*.ilk

Debug/
*.ilk
*.tlog
*.idb

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio user-specific and indexing files
.vs/
*.vsidx
*.suo
*.user
*.VC.db*
*.opendb
*.tlog
*.ipch
